{% extends 'paginas/template.html' %}
{% include 'cadastro/form.html' %}
{% load static %}
{% block titulo %} 
<title>Ingresso</title>
{% endblock %}
{% block styles %}
    <style>
        .conteudo{
            min-height: 200px;
            max-height: 550px;
        }
        p{
            font-family:Arial, Helvetica, sans-serif;
            font-size: larger;
            color:white;
        }
    </style>
{% endblock %}
{% block conteudo %} 
<br>
<div class="table-responsive">
        <div class="detail-ingresso">
            <div class="paragrafo-ingresso-detail">
                <p>Filme: {{ ingresso.sessao.filme }}</p>
                <p>Filme: {{ ingresso.sessao.versao }}</p>
                <p>Filme: {{ ingresso.sessao.sala }}</p>
                <p>Filme: {{ ingresso.sessao.sala.projecao }}</p>
                <p>Data:<br>{{ ingresso.sessao.data }}</p>
                <p>Horário: {{ ingresso.sessao.horario }}</p>
                <p>Comprador: {{ ingresso.comprador.perfil.nome_completo }}</p>
                <p>Tipo de Entrada: {{ ingresso.tipo }}</p>
            </div>
            <div class="botao-ingresso-detail">
                <a href="{% url 'listar-ingresso' %}" class="btn btn-primary">Voltar</a>
            </div>
        </div>
        
</div>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="btn btn-warning btn-sm" title="Previous">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="btn btn-warning btn-sm" title="Next">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}

{% block scripts %}

{% endblock %}