{% extends 'paginas/template.html' %}
{% load static %}
{% block titulo %} 
<title>Lista de Sessões</title>
{% endblock %}
{% block conteudo %} 
<br>
<p class="titulo-page avisos">Antes de comprar seu ingresso, veja as seções disponíveis</p>
<p class="titulo-page avisos">Busque abaixo o filme desejado e veja o código a selecionar na compra de ingressos!</p>
<p class="titulo-page avisos">Preste atenção se as sessões estão encerradas!</p>
<div class="espaco">
    <form class="d-flex" method="GET">
        <input class="form-control mr-2" type="search" value="{{ request.GET.nome }}" placeholder="Pesquise o nome do filme" aria-label="Search" name="nome">
        
        <button class="btn btn-outline-success busca"  type="submit">Buscar</button>
    </form>
</div>
    <br>
    <br>
    <h3 class="titulo-page">Lista de Sessões registradas</h3>
    <hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Codigo</th>
            <th>Data</th>
            <th>Horario</th>
            <th>Filme</th>
            <th>Versao</th>
            <th>Sala</th>
            <th>Projeção</th>
            <th>Valor Inteira</th>
            <th>Valor Meia</th>
            <th>Encerrada</th>
            {% if perms.catalog.can_change_ingresso %}
            <th>Opções</th>
            {% endif %}
        </tr>
        {% for sessao in object_list %} 
        <tr>
            <td>{{ sessao.codigo }}</td> 
            <td>{{ sessao.data }}</td> 
            <td>{{ sessao.horario }}</td>
            <td>{{ sessao.filme.titulo }}</td> 
            <td>{{ sessao.versao }}</td>
            <td>{{ sessao.sala.numero }}</td> 
            <td>{{ sessao.projecao }}</td>
            <td>{{ sessao.valor_inteira }}</td> 
            <td>{{ sessao.valor_meia }}</td>
            <td>{{ sessao.encerrada }}</td> 

            {% if perms.catalog.can_change_ingresso %}
            <td>
                
                <a href="{% url 'editar-sessao' sessao.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                <a href="{% url 'excluir-sessao' sessao.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
                
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">
                Nenhum campo registro.
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="botoes-links titulo-page">
        <a href="{% url 'cadastrar-ingresso' %}" class="btn btn-primary botoes-links-id">Comprar Ingresso</a>
        <a href="{% url 'catalogo' %}" class="btn btn-primary botoes-links-id">Voltar ao Catálogo</a>
    </div>
</div>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    {% if request.GET.nome %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&nome={{ request.GET.nome }}" class="btn btn-warning btn-sm" title="Previous">&laquo;previous</a>
                    
                    {% else %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="btn btn-warning btn-sm" title="Previous">&laquo;previous</a>
                    {% endif %}
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    {% if request.GET.nome %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&nome={{ request.GET.nome }}" class="btn btn-warning btn-sm" title="Next">next &raquo;</a>
                    
                    {% else %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="btn btn-warning btn-sm" title="Next">next &raquo;</a>
                    {% endif %}
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}