{% extends 'paginas/template.html' %}

{% block titulo %}
<title>Sobre</title>
{% endblock %}

{% block conteudo %}
<h3>Sobre</h3>
<hr>
<p>Lorem ipsum dolor sit amet. Non modi mollitia et modi sunt ut harum iusto. Quo saepe minus sit architecto quaerat At tempora unde. </p><p>Est optio consequuntur est rerum cupiditate sed velit sint qui omnis aliquid. Qui porro minus ab dolorem labore et culpa alias et omnis ipsa est architecto fugit vel asperiores inventore? Non velit obcaecati aut molestiae voluptatem ut voluptatem rerum. </p><p>Ea asperiores labore ut esse suscipit qui vero ullam ut amet quia et recusandae mollitia. Aut maiores quasi ut nisi similique et atque dolorum? Ea quia eius qui voluptatem reiciendis aut omnis illum est consequuntur dolor qui porro libero. </p>

{% endblock %}